@import "../css/reset.css";
.header {
  padding: 26px 0 130px;
  position: relative;
  background-color: var(--headerColor);
}
@media (max-width: 1366px) {
  .header {
    padding: 26px 0 130px;
  }
}
@media (max-width: 1200px) {
  .header {
    padding: 26px 0 40px 0;
  }
}
@media (max-width: 600px) {
  .header {
    padding: 18px 0 70px;
  }
}
@media (max-width: 376px) {
  .header {
    padding: 18px 0 291px;
  }
}
.header::before, .header::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.header::before {
  left: 0;
  bottom: 0;
  background-image: url("../images/header_image_1920.png");
  background-position: center;
}
@media (max-width: 1200px) {
  .header::before {
    background-image: url("../images/header_image_1366.png");
  }
}
@media (max-width: 376px) {
  .header::before {
    background-image: url("../images/header_image_375.png");
    background-position: bottom center;
  }
}
.header::after {
  top: 0;
  left: 0;
  background: url(../images/background.png), var(--headerColor) 50%/cover no-repeat;
  mix-blend-mode: color-burn;
}

.content {
  margin-top: 62px;
  max-width: 542px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1200px) {
  .content {
    margin-top: 80px;
  }
}
@media (max-width: 376px) {
  .content {
    margin-top: 40px;
  }
}
.content__title p,
.content__title span {
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 66px;
  white-space: nowrap;
}
@media (max-width: 700px) {
  .content__title p,
  .content__title span {
    font-size: 50px;
    line-height: 50px;
  }
}
@media (max-width: 480px) {
  .content__title p,
  .content__title span {
    font-size: 9vw;
    line-height: 39.6px;
  }
}
.content__title p:last-child {
  text-align: end;
}
.content__title p:nth-child(3) {
  text-align: center;
}
.content__description {
  margin-top: 24px;
}
.content__description p {
  font-size: 18px;
  line-height: 23.4px;
  text-align: center;
}
@media (max-width: 600px) {
  .content__description p {
    text-align: left;
    height: 69px;
  }
}
.content__buttons {
  display: flex;
  margin-top: 40px;
  gap: 16px;
}
@media (max-width: 600px) {
  .content__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 14px;
  }
}
.content__buttons a {
  display: flex;
  width: 263px;
  height: 72px;
  border-radius: 66px;
  padding: 20px 49px;
  background-color: var(--darkButton);
  color: white;
  font-weight: 500;
  font-size: 16px;
  justify-content: center;
  text-align: center;
  line-height: 20.8px;
  align-items: center;
}
@media (max-width: 600px) {
  .content__buttons a {
    width: 100%;
    height: 47px;
    padding: 18px 20px 18px 20px;
  }
}
.content__buttons a:first-child:hover {
  background-color: var(--orange);
  color: var(--darkButton);
  transition: 0.3s;
}
.content__buttons a:last-child {
  background-color: transparent;
  color: var(--darkButton);
  border: 2px solid var(--darkButton);
}
@media (max-width: 1200px) {
  .content__buttons a:last-child {
    background-color: white;
    border: none;
  }
}
.content__buttons a:last-child:hover {
  background-color: var(--darkButton);
  color: white;
  transition: 0.3s;
}

.logotype {
  position: relative;
  z-index: 1;
}
@media (max-width: 1200px) {
  .logotype img {
    min-width: 213px;
    width: 245.17px;
  }
}
@media (max-width: 600px) {
  .logotype img {
    width: 213px;
    height: 32px;
  }
}

:root {
  --mainColor: #313131;
  --headerColor: #e9ded4;
  --darkButton: #1f1f1f;
  --red: #f54932;
  --blue: #3057a2;
  --orange: #fbce51;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  color: var(--mainColor);
  overflow-x: hidden;
}

.container {
  --width: 1222px;
  --padding: 72px;
  max-width: calc(var(--width) + var(--padding) * 2);
  margin: 0 auto;
  padding: 0 var(--padding);
}
@media (max-width: 600px) {
  .container {
    --padding: 20px;
  }
}

main {
  width: 100%;
  height: 100%;
}

.running-line {
  background-color: var(--red);
  padding: 18px 0;
  overflow: hidden;
}
@media (max-width: 375px) {
  .running-line {
    padding: 10px 0;
  }
}
.running-line__container {
  display: flex;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
}
@media (max-width: 375px) {
  .running-line__container {
    animation: marquee 15s linear infinite;
  }
}
.running-line span {
  margin-right: 30px;
  position: relative;
  color: #ffffff;
  font-size: 22px;
  line-height: 1.1;
  text-transform: uppercase;
}
@media (max-width: 375px) {
  .running-line span {
    font-size: 16px;
  }
}
.running-line span::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffffff;
  top: 50%;
  transform: translateY(-50%);
  right: -18px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-180%);
  }
}
@media (max-width: 375px) {
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-600%);
    }
  }
}
@keyframes animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.info {
  padding: 48px 0 100px 0;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
@media (max-width: 1200px) {
  .info {
    align-items: start;
  }
}
.info__header, .info__main {
  display: flex;
  justify-content: space-between;
  min-height: 250px;
  align-items: center;
  position: relative;
}
.info__header > div {
  max-width: 764px;
}
.info__header > div > img {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  right: 0;
  width: 394px;
}
@media (max-width: 1340px) {
  .info__header > div > img {
    width: 300px;
  }
}
@media (max-width: 1200px) {
  .info__header > div > img {
    position: relative;
    transform: none;
    margin: 40px auto;
    max-width: 394px;
    width: 100%;
  }
}
.info__header > div > p {
  display: inline;
}
@media (max-width: 1200px) {
  .info__header > div > p {
    font-size: 28px;
    line-height: 37.8px;
  }
}
.info__main {
  display: flex;
  align-items: start;
  position: relative;
}
.info__main__image {
  position: absolute;
  top: -46px;
  left: -28px;
}
@media (max-width: 1340px) {
  .info__main__image {
    width: 350px;
  }
}
@media (max-width: 1200px) {
  .info__main {
    flex-direction: column;
    align-items: center;
  }
  .info__main__image {
    position: relative;
    top: auto;
    left: auto;
  }
  .info__main__image > img {
    min-width: 335px;
    height: 402px;
  }
}
.info__main-content div p, .info__header p {
  font-family: "Merriweather", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 48.6px;
}
@media (max-width: 1200px) {
  .info__main-content div p, .info__header p {
    font-size: 28px;
    line-height: 37.8px;
  }
}
.info__header p:last-child span, .info__main-content div p:first-child span, .info__main .info > span {
  color: var(--red);
  font-weight: 700;
}
.info__main-content {
  max-width: 704px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 0 0 auto;
}
.info__main-content > div {
  z-index: 1;
}
.info__main-content__footer {
  color: var(--blue);
  font-size: 20px;
  margin-top: 48px;
}
.info table {
  margin-top: 60px;
  border-collapse: collapse;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.13;
}
.info table tr td {
  border: 2px solid #d0d0d0;
  font-size: 20px;
  opacity: 0.7;
  padding: 16px;
}
.info table tr td:first-child {
  width: 307px;
  padding: 16px 16px 16px 0;
}
.info table tr td:last-child {
  font-weight: 600;
  opacity: 1;
}
.info table tr:first-child td {
  border-top: none;
}
.info table tr:first-child td:first-child {
  padding: 0 16px 16px 0;
}
.info table tr:first-child td:last-child {
  padding: 0 16px 16px 16px;
}
.info table tr:last-child td {
  border-bottom: none;
  padding: 16px 16px 0 0;
}
.info table tr:last-child td > span:first-child {
  position: relative;
}
.info table tr:last-child td > span:first-child:before {
  position: absolute;
  content: "";
  top: 50%;
  left: -4px;
  width: 100%;
  height: 2px;
  background-color: var(--red);
  border-radius: 2px;
}
.info table tr:last-child td:last-child {
  padding: 16px 16px 0 16px;
}
.info table td:first-child {
  border-left: none;
}
.info table td:last-child {
  border-right: none;
}
@media (max-width: 1200px) {
  .info table {
    min-width: 335px;
    margin-top: 44px;
  }
  .info table tr {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #d0d0d0;
  }
  .info table tr > td {
    border: none;
    padding: 12px 0 16px 0;
  }
  .info table tr > td:first-child {
    padding: 12px 0 0 0;
  }
  .info table tr:last-child {
    border: none;
  }
  .info table tr:last-child td:last-child {
    padding: 12px 0 0 0;
  }
  .info table tr:first-child td:first-child {
    padding: 12px 0 0 0;
  }
  .info table tr:first-child td:last-child {
    padding: 12px 0 16px 0;
  }
}

.stages {
  padding: 100px 0;
}
@media (max-width: 1200px) {
  .stages {
    padding: 20px 0 60px 0;
  }
}
.stages__header {
  max-width: 806px;
  position: relative;
}
@media (max-width: 1200px) {
  .stages__header {
    max-width: unset;
  }
}
.stages__header > h2 {
  font-family: "Merriweather", sans-serif;
  font-size: 54px;
  line-height: 64.8px;
  text-transform: uppercase;
  font-weight: 400;
}
@media (max-width: 1200px) {
  .stages__header > h2 {
    font-size: 36px;
    line-height: 39.6px;
  }
}
.stages__header > p {
  position: absolute;
  top: 72px;
  left: 301px;
  width: 280px;
  color: var(--blue);
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 1200px) {
  .stages__header > p {
    font-size: 18px;
    line-height: 21.6px;
    margin-top: 14px;
    position: relative;
    top: unset;
    left: unset;
    width: unset;
  }
}
.stages__content {
  min-width: 1222px;
  margin-top: 54px;
  position: relative;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1340px) {
  .stages__content {
    max-width: 1000px;
    justify-content: start;
    min-width: auto;
  }
}
@media (max-width: 1200px) {
  .stages__content {
    min-width: auto;
    margin-top: 148px;
    gap: 0;
    margin-bottom: 28px;
  }
}
.stages__content .block {
  background-image: url("../images/stages_background.png");
  line-height: 24px;
  font-size: 20px;
  max-width: 394px;
  padding: 20px;
  display: flex;
  gap: 16px;
  min-height: 112px;
}
@media (max-width: 1340px) {
  .stages__content .block {
    max-width: 320px;
  }
}
@media (max-width: 1200px) {
  .stages__content .block {
    font-size: 18px;
    line-height: 21.6px;
    max-width: 100%;
    background: none;
  }
}
.stages__content .block > div {
  min-width: 36px;
  height: 36px;
  background-color: white;
  border-radius: 50%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stages__content .block > p {
  font-weight: 500;
}
.stages__content .first-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1200px) {
  .stages__content .first-container {
    width: 100%;
  }
  .stages__content .first-container > div > div:last-child {
    padding-top: 0;
  }
}
.stages__content .second-container {
  min-height: 244px;
}
@media (max-width: 1200px) {
  .stages__content .second-container {
    min-height: 300px;
  }
}
.stages__content .second-container > p {
  max-width: 302px;
}
.stages__content .third-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  min-width: 808px;
  width: 100%;
}
.stages__content .third-container .stages__item {
  min-height: 136px;
  min-width: 394px;
}
@media (max-width: 1340px) {
  .stages__content .third-container .stages__item {
    min-width: 320px;
  }
}
.stages__content .third-container .stages__item:last-child {
  width: 100%;
}
.stages__content .third-container .stages__item:last-child > div {
  min-width: 100%;
}
.stages__content .third-container .stages__item:last-child > div > p {
  max-width: 446px;
  padding-right: 30px;
}
@media (max-width: 1340px) {
  .stages__content .third-container .stages__item:last-child > div > p {
    max-width: 320px;
  }
}
@media (max-width: 1200px) {
  .stages__content .third-container {
    min-width: auto;
    flex-direction: column;
  }
  .stages__content .third-container .stages__item {
    min-height: 300px;
    min-width: auto;
  }
}
.stages__content__image {
  position: absolute;
  bottom: -2px;
  right: -64px;
  user-select: none;
}
@media (max-width: 1340px) {
  .stages__content__image {
    bottom: 50px;
  }
}
@media (max-width: 1200px) {
  .stages__content__image {
    top: -160px;
    left: 12px;
    bottom: unset;
    right: unset;
    transform: rotate(-4deg);
  }
}
@media (max-width: 376px) {
  .stages__content__image {
    top: -130px;
    left: 12px;
    max-width: 335px;
    width: 100%;
  }
}

.stages__item {
  display: flex;
  gap: 20px;
}
@media (max-width: 1200px) {
  .stages__item {
    flex-direction: column;
    min-width: auto;
    width: 100%;
    background-image: url("../images/stages_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    max-height: 300px;
  }
}

@media (max-width: 1200px) {
  .stages__item {
    flex-direction: column;
    gap: 0;
    min-height: 300px;
  }
  .stages__item > div:first-child {
    padding: 62px 20px 33px 20px;
  }
}

@media (max-width: 1200px) {
  .stages__item {
    animation: animation 1s;
    display: none;
  }
}

@media (max-width: 1200px) {
  .stages__item-active {
    display: grid;
  }
}

.stages__controls {
  display: none;
  margin: 8px auto 0 auto;
}
@media (max-width: 1200px) {
  .stages__controls {
    max-width: 178px;
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
}
.stages__controls button {
  width: 36px;
  height: 36px;
  background-color: transparent;
}
.stages__controls button:hover svg circle {
  fill: var(--orange);
  transition: 0.5s;
}
.stages__controls button:disabled {
  opacity: 0.2;
}
.stages__controls button:disabled:hover svg circle {
  fill: var(--mainColor);
}

.stages__dots {
  display: flex;
  gap: 6px;
}
.stages__dots-active circle {
  fill: var(--mainColor);
}
.stages__dots svg {
  cursor: pointer;
}
.stages__dots svg:hover circle {
  fill: var(--orange);
  transition: 0.5s;
}

.users {
  padding: 100px 0 140px;
}
.users > div {
  position: relative;
}
.users__header > h2 {
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  font-size: 54px;
  line-height: 64.8px;
  text-transform: uppercase;
}
.users__content {
  padding-top: 60px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .users__content {
    justify-content: center;
  }
}
.users__content .card {
  animation: animation 1s;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 394px;
}
@media (max-width: 1340px) {
  .users__content .card {
    min-width: 320px;
  }
}
.users__content .card > h3 {
  padding-top: 28px;
  font-weight: 600;
  line-height: 28.8px;
  font-size: 24px;
}
.users__content .card > p {
  padding-top: 6px;
  font-size: 20px;
  line-height: 24px;
  opacity: 0.6;
}
.users__content .card > button {
  margin-top: 35px;
  width: 113px;
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 62px;
  font-size: 16px;
  padding: 12px;
}
.users__content .card > button:hover {
  color: white;
  background-color: var(--blue);
}
.users__controls {
  position: absolute;
  top: 9px;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  min-width: 150px;
}
@media (max-width: 1200px) {
  .users__controls {
    position: relative;
    max-width: 129px;
    top: unset;
    right: unset;
    margin: 40px auto 0 auto;
    gap: 14px;
  }
}
.users__controls button > svg {
  width: 44px;
  height: 44px;
}
@media (max-width: 1200px) {
  .users__controls button > svg {
    width: 36px;
    height: 36px;
  }
}
.users__controls button:hover svg circle {
  fill: var(--orange);
  transition: 0.5s;
}
.users__controls div {
  display: flex;
  gap: 3px;
  color: var(--mainColor);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  width: 35px;
}
.users__controls div :nth-child(2) {
  opacity: 0.6;
}
.users__controls div :nth-child(3) {
  opacity: 0.6;
}

.footer {
  padding: 40px 0 72px 0;
  background-color: var(--headerColor);
}
@media (max-width: 375px) {
  .footer {
    padding: 40px 0 60px 0;
  }
}
.footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  opacity: 0.6;
}

/*# sourceMappingURL=styles.css.map */
