@import "../css/reset.css";
.header {
  padding: 26px 0 132px;
  position: relative;
  background-color: var(--headerColor);
}
@media (max-width: 1366px) {
  .header {
    padding: 26px 0 130px;
  }
}
@media (max-width: 1200px) {
  .header {
    padding: 26px 0 40px 0;
  }
}
@media (max-width: 600px) {
  .header {
    padding: 18px 0 70px;
  }
}
@media (max-width: 375px) {
  .header {
    padding: 18px 0 291px;
  }
}
.header::before, .header::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.header::before {
  left: 0;
  bottom: 0;
  background-image: url("../images/header_image_1920.png");
  background-position: center;
}
@media (max-width: 1200px) {
  .header::before {
    background-image: url("../images/header_image_1366.png");
  }
}
@media (max-width: 375px) {
  .header::before {
    background-image: url("../images/header_image_375.png");
    background-position: bottom center;
  }
}
.header::after {
  top: 0;
  left: 0;
  background: url(../images/background.png), var(--headerColor) 50%/cover no-repeat;
  mix-blend-mode: color-burn;
}

.content {
  margin-top: 62px;
  max-width: 542px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1200px) {
  .content {
    margin-top: 80px;
  }
}
@media (max-width: 375px) {
  .content {
    margin-top: 40px;
  }
}
.content__title p,
.content__title span {
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 66px;
  white-space: nowrap;
}
@media (max-width: 700px) {
  .content__title p,
  .content__title span {
    font-size: 50px;
    line-height: 50px;
  }
}
@media (max-width: 480px) {
  .content__title p,
  .content__title span {
    font-size: 9vw;
    line-height: 39.6px;
  }
}
.content__title p:last-child {
  text-align: end;
}
.content__title p:nth-child(3) {
  text-align: center;
}
.content__description {
  margin-top: 24px;
}
.content__description p {
  font-size: 18px;
  line-height: 23.4px;
  text-align: center;
}
@media (max-width: 600px) {
  .content__description p {
    text-align: left;
    height: 69px;
  }
}
.content__buttons {
  display: flex;
  margin-top: 40px;
  gap: 16px;
}
@media (max-width: 600px) {
  .content__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 14px;
  }
}
.content__buttons a {
  display: flex;
  width: 263px;
  height: 72px;
  border-radius: 66px;
  padding: 20px 49px;
  background-color: var(--darkButton);
  color: white;
  font-weight: 500;
  font-size: 16px;
  justify-content: center;
  text-align: center;
  line-height: 20.8px;
  align-items: center;
}
@media (max-width: 600px) {
  .content__buttons a {
    width: 100%;
    height: 47px;
    padding: 18px 20px 18px 20px;
  }
}
.content__buttons a:last-child {
  background-color: transparent;
  color: var(--darkButton);
  border: 2px solid var(--darkButton);
}
@media (max-width: 1120px) {
  .content__buttons a:last-child {
    background-color: white;
    border: none;
  }
}

.logotype {
  position: relative;
  z-index: 1;
}
@media (max-width: 1200px) {
  .logotype img {
    min-width: 213px;
    width: 245.17px;
  }
}
@media (max-width: 600px) {
  .logotype img {
    width: 213px;
    height: 32px;
  }
}

:root {
  --mainColor: #313131;
  --headerColor: #e9ded4;
  --darkButton: #1f1f1f;
  --marquee-elements-displayed: 4;
  --marquee-elements-width: calc(100vw / var(--marquee-elements-displayed)) ;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  color: var(--mainColor);
}

.container {
  --width: 1222px;
  --padding: 72px;
  max-width: calc(var(--width) + var(--padding) * 2);
  margin: 0 auto;
  padding: 0 var(--padding);
}
@media (max-width: 600px) {
  .container {
    --padding: 20px;
  }
}

.running-line {
  background-color: #F54932;
  padding: 18px 0;
  overflow: hidden;
}
@media (max-width: 375px) {
  .running-line {
    padding: 10px 0;
  }
}
.running-line__container {
  display: flex;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
}
@media (max-width: 375px) {
  .running-line__container {
    animation: marquee 15s linear infinite;
  }
}
.running-line span {
  margin-right: 30px;
  position: relative;
  color: #ffffff;
  font-size: 22px;
  line-height: 1.1;
  text-transform: uppercase;
}
@media (max-width: 375px) {
  .running-line span {
    font-size: 16px;
  }
}
.running-line span::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffffff;
  top: 50%;
  transform: translateY(-50%);
  right: -18px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-180%);
  }
}
@media (max-width: 375px) {
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-600%);
    }
  }
}

/*# sourceMappingURL=styles.css.map */
