.info {
  padding: 48px 0 100px 0;
  display: flex;
  flex-direction: column;
  gap: 64px;
  &__header,
  &__main {
    display: flex;
    justify-content: space-between;
    min-height: 250px;
    align-items: center;
    position: relative;
  }
  &__header {
    & > div {
      max-width: 764px;
      & > img {
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        right: 0;
        width: 394px;
        @media (max-width: 1200px) {
          position: relative;
          transform: none;
          margin: 40px auto;
          max-width: 394px;
          width: 100%;
        }
      }
      & > p {
        display: inline;
        @media (max-width: 1200px) {
          font-size: 28px;
          line-height: 37.8px;
        }
      }
    }
  }
  &__main {
    display: flex;
    align-items: start;
    position: relative;

    &__image {
      position: absolute;
      top: -46px;
      left: -28px;
    }
    @media (max-width: 1200px) {
      flex-direction: column;
      &__image {
        position: relative;
        top: auto;
        left: auto;
        & > img {
          min-width: 335px;
          height: 402px;
        }
      }
    }
  }
  &__main-content div p,
  &__header p {
    font-family: "Merriweather", sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 48.6px;
    @media (max-width: 1200px) {
      font-size: 28px;
      line-height: 37.8px;
    }
  }
  &__header p:last-child span,
  &__main-content div p:first-child span,
  &__main & > span {
    color: var(--red);
    font-weight: 700;
  }
  &__main-content {
    max-width: 704px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 0 0 auto;
    &__footer {
      color: var(--blue);
      font-size: 20px;
      margin-top: 48px;
    }
    @media (max-width: 1200px) {
    }
  }
  table {
    margin-top: 60px;
    border-collapse: collapse;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.13;
    tr {
      td {
        border: 2px solid #d0d0d0;
        font-size: 20px;
        opacity: 0.7;
        padding: 16px;
      }
      td:first-child {
        width: 307px;
        padding: 16px 16px 16px 0;
      }
      td:last-child {
        font-weight: 600;
        opacity: 1;
      }
    }
    tr:first-child td {
      border-top: none;
    }
    tr:first-child td:first-child {
      padding: 0 16px 16px 0;
    }
    tr:first-child td:last-child {
      padding: 0 16px 16px 16px;
    }
    tr:last-child td {
      border-bottom: none;
      padding: 16px 16px 0 0;
      & > span:first-child {
        position: relative;
      }
      & > span:first-child:before {
        position: absolute;
        content: "";
        top: 50%;
        left: -4px;
        width: 100%;
        height: 2px;
        background-color: var(--red);
        border-radius: 2px;
      }
    }
    tr:last-child td:last-child {
      padding: 16px 16px 0 16px;
    }
    td:first-child {
      border-left: none;
    }
    td:last-child {
      border-right: none;
    }
    @media (max-width: 1200px) {
      min-width: 335px;
      margin-top: 44px;
      tr {
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid #d0d0d0;
        & > td{
          border: none;
          padding: 12px 0 16px 0;

        }
        & > td:first-child{
          padding: 12px 0 0 0;

        }

      }
      tr:last-child{
        border: none;
      }
      tr:last-child td:last-child {
        padding: 12px 0 0 0;
      }
      tr:first-child td:first-child {
        padding: 12px 0 0 0;
      }
      tr:first-child td:last-child {
        padding: 12px 0 16px 0;

      }
    }
  }
}
