.stages {
  padding: 100px 0;
  @media (max-width: 1200px) {
    padding: 20px 0 60px 0;
  }

  &__header {
    max-width: 806px;
    position: relative;
    @media (max-width: 1200px) {
      max-width: unset;
    }
    & > h2 {
      font-family: "Merriweather", sans-serif;
      font-size: 54px;
      line-height: 64.8px;
      text-transform: uppercase;
      font-weight: 400;
      @media (max-width: 1200px) {
        font-size: 36px;
        line-height: 39.6px;
      }
    }

    & > p {
      position: absolute;
      top: 72px;
      left: 301px;
      width: 280px;
      color: var(--blue);
      font-size: 20px;
      line-height: 24px;
      @media (max-width: 1200px) {
        font-size: 18px;
        line-height: 21.6px;
        margin-top: 14px;
        position: relative;
        top: unset;
        left: unset;
        width: unset;
      }
    }
  }
  &__content {
    min-width: 1222px;
    margin-top: 54px;
    position: relative;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 1200px) {
      min-width: auto;
      margin-top: 148px;
      gap: 0;
      margin-bottom: 28px;
    }

    .block {
      background-image: url("../images/stages_background.png");
      line-height: 24px;
      font-size: 20px;
      max-width: 394px;
      padding: 20px;
      display: flex;
      gap: 16px;
      min-height: 112px;
      @media (max-width: 1200px) {
        font-size: 18px;
        line-height: 21.6px;
        max-width: 100%;
        background: none;
      }
      & > div {
        min-width: 36px;
        height: 36px;
        background-color: white;
        border-radius: 50%;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      & > p {
        font-weight: 500;
      }
    }
    .first-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media (max-width: 1200px) {
        width: 100%;
        & > div {
          & > div:last-child {
            padding-top: 0;
          }
        }
      }
    }
    .second-container {
      min-height: 244px;
      @media (max-width: 1200px) {
        min-height: 300px;
      }
      & > p {
        max-width: 302px;
      }
    }
    .third-container {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      min-width: 808px;
      width: 100%;
      .stages__item {
        min-height: 136px;
        min-width: 394px;
      }
      .stages__item:last-child {
        width: 100%;
        & > div {
          min-width: 100%;
          & > p {
            max-width: 446px;
            padding-right: 30px;
          }
        }
      }
      @media (max-width: 1200px) {
        min-width: auto;
        flex-direction: column;
        .stages__item {
          min-height: 300px;
          min-width: auto;
        }
      }
    }
    &__image {
      position: absolute;
      bottom: -2px;
      right: -64px;
      user-select: none;

      @media (max-width: 1200px) {
        top: -160px;
        left: 12px;
        bottom: unset;
        right: unset;
        width: unset;
        transform: rotate(-4deg);
      }
      @media (max-width: 376px) {
        top: -130px;
        left: 12px;
        max-width: 335px;
        width: 100%;
      }
    }
  }
}

.stages__item {
  display: flex;
  gap: 20px;
  @media (max-width: 1200px) {
    flex-direction: column;
    min-width: auto;
    width: 100%;
    background-image: url("../images/stages_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    max-height: 300px;
  }
}
.stages__item {
  @media (max-width: 1200px) {
    flex-direction: column;
    gap: 0;
    min-height: 300px;

    & > div:first-child {
      padding: 62px 20px 33px 20px;
    }
  }
}
.stages__item {
  @media (max-width: 1200px) {
    animation: animation 1s;
    display: none;
  }
}

.stages__item-active {
  @media (max-width: 1200px) {
    display: grid;
  }
}

.stages__controls {
  display: none;
  margin: 8px auto 0 auto;

  @media (max-width: 1200px) {
    max-width: 178px;
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  button {
    width: 36px;
    height: 36px;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      svg {
        circle {
          fill: var(--orange);
          transition: 0.5s;
        }
      }
    }

    &:disabled {
      opacity: 0.2;
      &:hover {
        svg {
          circle {
            fill: var(--mainColor);
          }
        }
      }
    }
  }
}

.stages__dots {
  display: flex;
  gap: 6px;

  -webkit-tap-highlight-color: transparent;

  &-active {
    circle {
      fill: #313131;
    }
  }

  svg {
    cursor: pointer;

    &:hover {
      circle {
        fill: #fbce51;
        transition: 0.5s;
      }
    }
  }
}

@keyframes animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
